#clock {
    font-size: 2em;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: lightblue; 
}


.slider {
    padding: 50px 20px;
    background-color: cornflowerblue;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    height: 400px;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.slide.active img {
    filter: brightness(0.8);
}

.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    transition: width 0.5s;
    z-index: -1;
}

.slide.active {
    width: 100%;
    z-index: 0;
}

.slide div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(135, 206, 250, 0.7);
    border-radius: 12px;
    text-align: center;
    max-width: 70%;
    height: 0;
    width: 0;
    opacity: 0;
    color: transparent;
    transition: all 0.7s;
}

.slide.active div {
    display: block;
    color: black;
    width: auto;
    height: auto;
    opacity: 1;
    padding: 20px;
}

.slides-wrapper:hover .slide div {
    background-color: rgba(135, 206, 250, 0.9);
}

.slide h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.slider-btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slider-btns .slide-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.slider-btns .slide-btn img {
    width: 30px;
    height: 30px;
}
